::placeholder {
  color: inherit;
  opacity: 1;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

svg {
  display: block;
  fill: currentColor;
}

img {
  display: block;
}

button {
  padding: 0;
  color: inherit;
  font-weight: inherit;
  line-height: inherit;
  background-color: inherit;
  border: 0;
  outline: none;
  cursor: pointer;
  display: block;
}

p {
  margin: 0;
}

input {
  margin: 0;
  padding: 0;
  color: inherit;
  font-weight: inherit;
  background-color: inherit;
  border: 0;
  outline: none;
  display: block;
}

// Убирает стрелки у input типа number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

// Это тоже убирает стрелки
input[type='number'] {
  -moz-appearance: textfield;
}

textarea {
  padding: 0;
  color: inherit;
  background-color: inherit;
  border: 0;
  outline: none;
  resize: none;
  display: block;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}
